@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variáveis para cores: */
:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body {
  background-color: var(--fundo-principal);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--texto);
  line-height: 1.5em;
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav#menu ul {
  display: flex;
  gap: 10px;
  list-style: none
}

nav#menu a {
  color: var(--texto-inverso);
  font-weight: 600;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 1rem;
  padding: 1rem;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 1.5rem;
  border-radius: 8px;
  grid-column: 2;
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: 0 auto 1.2rem;
}

section#ficha h1 {
  color: var(--destaque);
  font-size: 2em;
  text-align: center;
  margin: 1rem 0;
}

div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  margin-top: .7rem;
}

div#social a {
  color: var(--destaque);
  transition: color .4s ease;
}

div#social a:hover {
  color: var(--destaque-inverso);
}